@charset "UTF-8";
/* Para el area de productos de la pag principal*/
.card-hotel {
  display: flex;
  flex: 1 200px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px;
  color: black; }

#indicador li {
  /*width: 30px;
	height: 10px;*/
  width: 15px;
  height: 15px;
  border-radius: 100%; }

/* Aplicado solo pag. de precios*/
/* Para los iconos la tabla de precios*/
.oi-star {
  color: #feba02; }

/* Para la info de cuenta de la parta de formas de pago*/
.cuenta {
  list-style: none; }

/* Para el espacio entre el tab y el contenido*/
#myTabContent {
  padding-top: 10px; }

.btn {
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px;
  color: white; }

/* Mis botones personalizados*/
/* Para los botones del collapse que se utiliza en la pag principal*/
.btn-collapse {
  text-decoration: none;
  padding: 6px;
  font-size: 18px;
  color: black;
  font-weight: 500;
  background-color: #F2B203;
  border-color: #F2B203;
  border-radius: 4px;
  border: 2px solid #F2B203; }

.btn-collapse:focus {
  outline: none;
  /*box-shadow: 0 0 0 3px rgba(242, 178, 3,0.5)*/
  box-shadow: 0 0 0 3px #f1da52; }

.btn-collapse:hover {
  /*background-color: rgba(219, 165, 16, 0.9);*/
  background-color: rgba(242, 178, 3, 0.8); }

/* Para los botones de reserva de los productos de la pagina principal*/
.btn-reserva {
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  background-color: #F2B203;
  border-color: #F2B203;
  border-radius: 0px;
  border: 2px solid #F2B203;
  width: 100%; }

.btn-reserva:focus {
  outline: none;
  /*box-shadow: 0 0 0 3px rgba(242, 178, 3,0.5)*/
  box-shadow: 0 0 0 3px #f1da52; }

/* Para el botón que se utiliza para activar el modal (pag. principal)*/
.btn-modal {
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 6px;
  color: white;
  background-color: #940c1e;
  border-color: #940c1e;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid #940c1e; }

.btn-modal:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(148, 12, 30, 0.7); }

/* Boton de la sección de contacto que esta al final del formulario*/
.btn-contacto {
  text-decoration: none;
  padding: 4px;
  font-size: 18px;
  color: black;
  background-color: #F2B203;
  border-color: #F2B203;
  border-radius: 4px;
  border: 2px solid #F2B203; }

.btn-contacto:focus {
  outline: none;
  /*box-shadow: 0 0 0 3px rgba(242, 178, 3,0.5)*/
  box-shadow: 0 0 0 3px #f1da52; }

/* Esto se aplica a todas las secciones*/
.jumbotron {
  background-color: #26A69A;
  margin-top: 50px;
  color: black; }

/* Para el pie de pag de todas las secciones*/
footer {
  background-color: #26A69A;
  margin: 0px;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px 10px 0 10px;
  color: black; }

/* Para el link de las secciones del pie de pag*/
.link-section {
  padding: 1px 0px 1px 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 1px 0px 1px 0px;
  color: black; }

/* Para el link de los iconos del pie de pag*/
.link-social {
  padding: 2px 0px 2px 0px; }

/* Para los iconos del address que esta dentro del footer*/
.address-icon {
  padding-right: 10px;
  width: 90; }
