$yellow:#F2B203;
$green:#26A69A;
$red:#940c1e;

@mixin cambioVarios($top:10px,$left:10px,$padding:0px,$colorfont:black){
    margin-top: $top;
	margin-left: $left;
	padding: $padding;
	color: $colorfont;
};


/* Para el area de productos de la pag principal*/
.card-hotel{
	display: flex;
	flex:1 200px;
	flex-direction: column;
	justify-content: space-between;
	@include cambioVarios(10px,10px);
	
}

#indicador li {
	/*width: 30px;
	height: 10px;*/
	width: 15px;
	height: 15px;
	border-radius: 100%;
}
/* Aplicado solo pag. de precios*/

/* Para los iconos la tabla de precios*/
.oi-star {
    color:rgb(254, 186, 2) ;
}

/* Para la info de cuenta de la parta de formas de pago*/
.cuenta{
	list-style: none;
}
 /* Para el espacio entre el tab y el contenido*/
#myTabContent{
	padding-top: 10px;
}

.btn{
	@include cambioVarios(10px,10px,4px,white);
}
/* Mis botones personalizados*/

/* Para los botones del collapse que se utiliza en la pag principal*/
.btn-collapse{
	
	text-decoration: none;
	padding: 6px;
	font-size: 18px;
	color:black;
	font-weight: 500;
	background-color: $yellow;
	border-color: $yellow;
	border-radius: 4px;
	border: 2px solid $yellow;
}

.btn-collapse:focus {
	outline: none;
	/*box-shadow: 0 0 0 3px rgba(242, 178, 3,0.5)*/
	box-shadow: 0 0 0 3px rgb(241, 218, 82);
	
}

.btn-collapse:hover{
	/*background-color: rgba(219, 165, 16, 0.9);*/
	background-color: rgba(242, 178, 3,0.8);	
}

/* Para los botones de reserva de los productos de la pagina principal*/
.btn-reserva{
	
	text-decoration: none;
	padding: 5px;
	font-size: 16px;
	color:black;
	font-weight: 500;
	background-color: $yellow;
	border-color: $yellow;
	border-radius: 0px;
	border: 2px solid $yellow;
	width: 100%;
}

.btn-reserva:focus {
	outline: none;
	/*box-shadow: 0 0 0 3px rgba(242, 178, 3,0.5)*/
	box-shadow: 0 0 0 3px rgb(241, 218, 82);
	
}

/* Para el botón que se utiliza para activar el modal (pag. principal)*/
.btn-modal{
	text-decoration: none;
	border-radius: 3px;
	font-size: 16px;
	@include cambioVarios(10px,10px,6px,white);
	background-color: $red;
	border-color: $red;
	font-weight: 500;
    border-radius: 4px;
    border: 2px solid $red;
}

.btn-modal:focus{
	outline: none;
	box-shadow: 0 0 0 3px rgba(148, 12, 30,0.7);
}

/* Boton de la sección de contacto que esta al final del formulario*/
.btn-contacto{
	text-decoration: none;
	padding: 4px;
	font-size: 18px;
	color: black;
	background-color: $yellow;
	border-color: $yellow;
	border-radius: 4px;
	border: 2px solid $yellow;
}

.btn-contacto:focus {
	outline: none;
	/*box-shadow: 0 0 0 3px rgba(242, 178, 3,0.5)*/
	box-shadow: 0 0 0 3px rgb(241, 218, 82);
	
}

/* Esto se aplica a todas las secciones*/
.jumbotron{
	background-color: $green ; 
	margin-top: 50px;
	color: black;
}

/* Para el pie de pag de todas las secciones*/
footer{
	background-color: $green;
	margin: 0px;
	@include cambioVarios(10px,0px,10px 10px 0 10px);
}

/* Para el link de las secciones del pie de pag*/
.link-section{ 
	padding: 1px 0px 1px 0px;
	@include cambioVarios(0px,0px,1px 0px 1px 0px);
}

/* Para el link de los iconos del pie de pag*/
.link-social{
	padding: 2px 0px 2px 0px;
}

/* Para los iconos del address que esta dentro del footer*/
.address-icon{
	padding-right:10px;
	width: 90;
}


